<div class="container" ng-init="view = 1">
	<div class="row">
		<div class="col-lg-12">
			<div class="btn-group">
				<a class="btn btn-default" href="/posts/create">New post</a>
				<button class="btn btn-default" ng-class="{ active: (view == 1) }" ng-click="view = (view == 1 ? 0 : 1)"><span class="fa fa-bars"></span> Change view</button>
				<div class="btn-group dropdown">
					<button class="btn btn-default dropdown-toggle">
						Per page

						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li ng-class="{ active: (paginator.perPage == 4) }" ng-click="paginator.perPage = 4;"><a href="">4</a></li>
						<li ng-class="{ active: (paginator.perPage == 10) }" ng-click="paginator.perPage = 10;"><a href="">10</a></li>
						<li ng-class="{ active: (paginator.perPage == 20) }" ng-click="paginator.perPage = 20;"><a href="">20</a></li>
					</ul>					
				</div>
			</div>

			<table class="table" ng-show="(view == 1)">
				<thead>
					<th>Title</th>
					<th>Body (preview)</th>
					<th>Created at</th>
					<th>Actions</th>
				</thead>

				<tbody ng-repeat="post in posts">
					<tr>
						<td ng-bind="post.title"></td>
						<td ng-bind="post.body.substr(0, 200)"></td>
						<td ng-bind="post.created_at"></td>
						<td>
							<div class="btn-group">
								<button class="btn btn-default" ng-click="editPost(post)">Edit</button>
								<button class="btn btn-default" ng-click="destroyPost(post)">Destroy</button>
							</div>
						</td>						
					</tr>
				</tbody>
			</table>
			<div ng-show="(view == 0)" ng-repeat="post in posts">
				<h3><a href="/posts/{{ post.id }}" ng-bind="post.title"></a></h3>
				<p>
					<img src="http://placehold.it/1600x400" width="100%">
				</p>
				<p ng-bind="post.body.substr(0, 200)"></p>
			</div>

			<vq-pager data-paginator="paginator" data-current-key="'current'" data-last-key="'pageCount'" data-event-name="'posts'"></vq-pager>
		</div>
	</div>
</div>