// Core variables and mixins
@import "variables";
@import "../../bower_components/bootstrap-sass/lib/mixins";

// Reset
@import "../../bower_components/bootstrap-sass/lib/normalize";
@import "../../bower_components/bootstrap-sass/lib/print";

// Core C../../bower_components/bootstrap-sass/lib/SS
@import "../../bower_components/bootstrap-sass/lib/scaffolding";
@import "../../bower_components/bootstrap-sass/lib/type";
@import "../../bower_components/bootstrap-sass/lib/code";
@import "../../bower_components/bootstrap-sass/lib/grid";
@import "../../bower_components/bootstrap-sass/lib/tables";
@import "../../bower_components/bootstrap-sass/lib/forms";
@import "../../bower_components/bootstrap-sass/lib/buttons";

// Compon../../bower_components/bootstrap-sass/lib/ents
@import "../../bower_components/bootstrap-sass/lib/component-animations";
@import "../../bower_components/bootstrap-sass/lib/glyphicons";
@import "../../bower_components/bootstrap-sass/lib/dropdowns";
@import "../../bower_components/bootstrap-sass/lib/button-groups";
@import "../../bower_components/bootstrap-sass/lib/input-groups";
@import "../../bower_components/bootstrap-sass/lib/navs";
@import "../../bower_components/bootstrap-sass/lib/navbar";
@import "../../bower_components/bootstrap-sass/lib/breadcrumbs";
@import "../../bower_components/bootstrap-sass/lib/pagination";
@import "../../bower_components/bootstrap-sass/lib/pager";
@import "../../bower_components/bootstrap-sass/lib/labels";
@import "../../bower_components/bootstrap-sass/lib/badges";
@import "../../bower_components/bootstrap-sass/lib/jumbotron";
@import "../../bower_components/bootstrap-sass/lib/thumbnails";
@import "../../bower_components/bootstrap-sass/lib/alerts";
@import "../../bower_components/bootstrap-sass/lib/progress-bars";
@import "../../bower_components/bootstrap-sass/lib/media";
@import "../../bower_components/bootstrap-sass/lib/list-group";
@import "../../bower_components/bootstrap-sass/lib/panels";
@import "../../bower_components/bootstrap-sass/lib/wells";
@import "../../bower_components/bootstrap-sass/lib/close";

// Compon../../bower_components/bootstrap-sass/lib/ents w/ JavaScript
@import "../../bower_components/bootstrap-sass/lib/modals";
@import "../../bower_components/bootstrap-sass/lib/tooltip";
@import "../../bower_components/bootstrap-sass/lib/popovers";
@import "../../bower_components/bootstrap-sass/lib/carousel";

// Utilit../../bower_components/bootstrap-sass/lib/y classes
@import "../../bower_components/bootstrap-sass/lib/utilities";
@import "../../bower_components/bootstrap-sass/lib/responsive-utilities";
@import "theme";

@import "animations";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.ng-dirty {
	&.ng-invalid {
		border-color: red
	}
}